@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <caption>List of users</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Ma KH</th>
                <th scope="col">Tinh</th>
                <th scope="col">PHAI THANH TOAN</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>AAA</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>AAA</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>AAA</td>
            </tr>
        </tbody>
    </table>
</div>
